.contentChild {
  height: 58px;
  width: 58px;
  position: relative;
}
.a,
.div {
  position: relative;
  display: inline-block;
}
.a {
  text-decoration: none;
  line-height: 26px;
  font-weight: 600;
  color: inherit;
  min-width: 86px;
}
.div {
  font-size: var(--paragraph-regular-03-size);
  line-height: 20px;
  color: var(--light-text-colortextsecondary);
  min-width: 75px;
}
.categories,
.parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.categories {
  flex: 1;
  padding: var(--padding-7xs) 0 0;
}
.filledChevronCircleRight {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.content,
.progressIndicator {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.progressIndicator {
  flex-direction: column;
  padding: var(--padding-mid) 0 0;
}
.content {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-base);
}
.questionsOutOf {
  position: relative;
  line-height: 20px;
}
.progressSteps,
.progressSteps1 {
  height: 6px;
  width: 37px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--colorgreen);
}
.progressSteps1 {
  width: 36px;
}
.progressSteps2,
.progressSteps3,
.progressSteps4,
.progressSteps5,
.progressSteps6 {
  height: 6px;
  width: 38px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color-mediumseagreen-100);
}
.progressSteps3,
.progressSteps4,
.progressSteps5,
.progressSteps6 {
  width: 36px;
}
.progressSteps4,
.progressSteps5,
.progressSteps6 {
  width: 37px;
}
.progressSteps5,
.progressSteps6 {
  width: 38px;
}
.progressSteps6 {
  width: 37px;
}
.progressBar,
.questionsOutOf730PassedParent,
.topCard {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs-5);
}
.questionsOutOf730PassedParent,
.topCard {
  flex-direction: column;
  gap: var(--gap-5xs);
  font-size: var(--paragraph-regular-03-size);
}
.topCard {
  width: 328px;
  border-radius: var(--br-xl);
  background-color: var(--light-background-colorbackgroundcontent);
  border: 1px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  padding: var(--padding-3xl) var(--padding-4xl);
  gap: var(--gap-base);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--header-4-size);
  color: var(--light-text-colortextprimary);
  font-family: var(--paragraph-regular-03);
}


