.grid_container {
  top: 180px;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 33px;
}

.grid_item {
  position: relative;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  width: 71px;
  height: 71px;
  box-shadow: inset -5px -5px 0px rgba(0, 0, 0, 0.05);
  font-size: 18px;
  color: black;
}

.checked {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 0px;
  top: 0px;
}
