:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

main {
  position: relative;
  width: 360px;
  height: 800px;
  background: #f9f9f9;
  margin: auto;
}

.appbar {
  position: absolute;
  width: 360px;
  height: 56px;
  left: 0px;
  top: 48px;
  background: #f9f9f9;
  border-radius: 0px 0px 16px 16px;
}
